@media (max-width: 767px) {

	.ad {
		width: 100%;
		float: left;
		text-align: center;
		margin-top: -30px;
	}

	.ad img {
		width: 100%;
	}
	
}

@media (min-width: 768px) {

	.ad {
		width: 100%;
		float: left;
		text-align: center;
		margin-top: -30px;
	}
	
}