.article-page {
	width: 100%;
	float: left;
	padding: 60px 0;
}

.article-page h1 {
	font-weight: bolder;
	margin-bottom: 40px;
}

.article-page .article-content {
	width: 100%;
	float: left;
	padding: 0;
}

.article-page .article-content h1 {
	font-size: 20px;
	margin-bottom: 20px;
}

.article-page .article-content h2 {
	font-size: 18px;
	margin-bottom: 20px;
	margin-top: 40px;
}

.article-page .article-content img {
	width: 100%;
	margin-bottom: 20px;
}

.article-page .article-content p {
	margin-bottom: 20px;
}

.article-page .article-content ul {
	padding: 0;
}

.article-page .article-content ul li {
	list-style: none;
	font-style: italic;	
}

.article-page .latest-articles {
	width: 100%;
	float: left;
	padding: 0;
}

.article-page .latest-articles h3 {
	font-weight: bolder;
	margin-bottom: 20px;
	text-align: center;
}

.article-page .latest-articles ul {
	float: left;
	width: 100%;
	padding: 0;
}

.article-page .latest-articles ul li {
	list-style: none;
	float: left;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
}

.article-page .latest-articles ul li .pic {
	width: 100%;
	max-height: 230px;
	overflow: hidden;
	margin-bottom: 10px;
}

.article-page .latest-articles ul li img {
	width: 100%;
}