@media (min-width: 768px) {

	.contact-page {
		width: 100%;
		float: left;
		padding: 40px 0;
		margin-top: -150px;
		margin-bottom: 100px;
	}

	.contact-page h2, .contact-page h1 {
		font-weight: bolder;
		margin-bottom: 40px;
		font-size: 26px;
		color: #336699;
	}

	.contact-page h3 {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.contact-page p {
		margin-bottom: 20px;
	}

	.contact-page ul {
		padding: 0;
	}

	.contact-page ul li {
		list-style: none;
		font-size: 18px;
		margin-bottom: 20px;
	}

	.contact-page .contact-details {
		display: block;
		background: #336699;
		color: #fff;
		padding: 30px;
		line-height: 24px;	
		margin: 0 auto;
		width: auto;	
	}
	
	.contact-page-banner {
		width: 100%;
		float: left;
		background: url(../img/contact-banner.jpg) no-repeat top center;
		height: 300px;
	}
}