@media (max-width: 767px) {

	.footer {
		width: 100%;
		float: left;
		padding: 40px 0;
		background: #000;
	}

	.footer p {
		font-size: 13px;
		line-height: 22px;
		color: #fff;
	}

	.footer ul {
		padding: 0;
		float: left;
	}

	.footer ul li {
		float: left;		
		list-style: none;
	}

	.footer ul li a {
		display: block;
		padding: 7px;
		color: #fff;
		font-size: 13px;
	}

	.footer ul li a svg {
		color: #ccc;
		margin-right: 5px;
	}

	.footer h4 {
		margin-bottom: 20px;
		font-size: 16px;
		color: #fff;
	}

	.footer ul.social {
		margin-top: 10px;
	}

	.footer ul.social li {
		float: left;
		width: auto;
	}

	.footer ul.social li a {
		font-size: 18px;
	}
	
}

@media (min-width: 768px) {

	.footer {
		width: 100%;
		float: left;
		padding: 40px 0;
		background: #000;
	}

	.footer p {
		font-size: 13px;
		line-height: 22px;
		color: #fff;
	}

	.footer ul {
		padding: 0;
		float: left;
	}

	.footer ul li {
		float: left;		
		list-style: none;
	}

	.footer ul li a {
		display: block;
		padding: 7px;
		color: #fff;
		font-size: 13px;
	}

	.footer ul li a svg {
		color: #ccc;
		margin-right: 5px;
	}

	.footer h4 {
		margin-bottom: 20px;
		font-size: 16px;
		color: #fff;
	}

	.footer ul.social {
		margin-top: 10px;
	}

	.footer ul.social li {
		float: left;
		width: auto;
	}

	.footer ul.social li a {
		font-size: 18px;
	}
	
}