@media (max-width: 767px) {

	.front-article {
		width: 100%;
		float: left;
		margin-bottom: 60px;
	}

	.front-article .article {
		width: 100%;
		float: left;
		box-shadow: 0 15px 30px rgba(0,0,0,.04);
		border-radius: 4px;
		padding: 40px;
	}

	.front-article .big-letter {
		float: left;
		width: auto;
		font-size: 92px;
		padding: 0 30px;		
	}

	.front-article .article h3 {
		font-size: 42px;
		margin-bottom: 30px;		
	}

	.front-article p {
		font-size: 14px;
		line-height: 22px;
	}

	.front-article p a {
		color: rgba(174,28,40,1);
		text-decoration: underline;
	}

	.front-article .article h5 {
		color: rgba(174,28,40,1);
		margin-bottom: 20px;
	}

	.front-article .article h5 svg {
		margin-right: 5px;
	}

	.front-article .article .article-pic {
		float: left;
		width: 40px;
		border-radius: 40px;
		overflow: hidden;
		margin: 6px 15px 0 0;
	}

	.front-article .article .article-pic img {
		width: 100%;
	}

	.front-article .article .multiple-column {
		display: none;
		column-count: 3;
		margin-top: 20px;
		column-gap: 30px;
	}

	.front-article .side-banner {
		width: 100%;
		float: left;
		overflow: hidden;
		position: relative;
		height: 455px;
		background: #fff;
	}

	.front-article .side-banner h3 {
		position: absolute;
		bottom: 100px;
		left: 60px;
		color: #000;
		z-index: 99;
		font-size: 26px;
	}

	.front-article .side-banner h3 ~ a {
		position: absolute;
		bottom: 55px;
		left: 60px;
		color: #fff;
		z-index: 99;
		font-size: 11px;
		background: #fff;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #000;
		padding: 6px;
	}

	.front-article .side-banner h3 ~ a svg {
		margin-right: 10px;
		color: #999;
	}

	.front-article .side-banner img {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;		
		z-index: 98;
		opacity: .7;
	}

	.article-content {
		width: 100%;
		float: left;
		padding: 60px 0;
	}

	.article-content h1 {
		margin-bottom: 40px;
	}

	.article-content h2 {
		margin-bottom: 10px;
		margin-top: 20px;
		font-family: 'Playfair Display', serif;
	}

	.article-content p {
		font-size: 14px;
		line-height: 24px;
	}
	
}

@media (min-width: 768px) {

	.front-article {
		width: 100%;
		float: left;
		margin-bottom: 60px;
	}

	.front-article .article {
		width: 100%;
		float: left;
		box-shadow: 0 15px 30px rgba(0,0,0,.04);
		border-radius: 4px;
		padding: 40px;
	}

	.front-article .big-letter {
		float: left;
		width: auto;
		font-size: 92px;
		padding: 0 30px;		
	}

	.front-article .article h3 {
		font-size: 42px;
		margin-bottom: 30px;		
	}

	.front-article p {
		font-size: 14px;
		line-height: 22px;
	}

	.front-article p a {
		color: rgba(174,28,40,1);
		text-decoration: underline;
	}

	.front-article .article h5 {
		color: rgba(174,28,40,1);
		margin-bottom: 20px;
	}

	.front-article .article h5 svg {
		margin-right: 5px;
	}

	.front-article .article .article-pic {
		float: left;
		width: 40px;
		border-radius: 40px;
		overflow: hidden;
		margin: 6px 15px 0 0;
	}

	.front-article .article .article-pic img {
		width: 100%;
	}

	.front-article .article .multiple-column {
		display: none;
		column-count: 3;
		margin-top: 20px;
		column-gap: 30px;
	}

	.front-article .side-banner {
		width: 100%;
		float: left;
		overflow: hidden;
		position: relative;
		height: 455px;
		background: #fff;
	}

	.front-article .side-banner h3 {
		position: absolute;
		bottom: 100px;
		left: 60px;
		color: #000;
		z-index: 99;
		font-size: 26px;
	}

	.front-article .side-banner h3 ~ a {
		position: absolute;
		bottom: 55px;
		left: 60px;
		color: #fff;
		z-index: 99;
		font-size: 11px;
		background: #fff;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: #000;
		padding: 6px;
	}

	.front-article .side-banner h3 ~ a svg {
		margin-right: 10px;
		color: #999;
	}

	.front-article .side-banner img {
		position: absolute;
		width: 100%;
		top: 0;
		left: 0;		
		z-index: 98;
		opacity: .7;
	}

	.article-content {
		width: 100%;
		float: left;
		padding: 60px 0;
	}

	.article-content h1 {
		margin-bottom: 40px;
	}

	.article-content h2 {
		margin-bottom: 10px;
		margin-top: 20px;
		font-family: 'Playfair Display', serif;
	}

	.article-content p {
		font-size: 14px;
		line-height: 24px;
	}
	
}