@media (max-width: 767px) {

	.banner	{
		float: left;
		width: 100%;
		padding: 0;
		overflow: hidden;		
		position: relative;
		background: #000033;
	}

	.banner .arrow {
		position: absolute;
		z-index: 999;
		top: -30px;
		left: 50%;
		margin-left: -40px;
	}

	.banner .side-article {
		float: left;
		width: 100%;
		height: 200px;
		overflow: hidden;
		position: relative;
	}

	.banner .side-article .details {
		position: absolute;
		left: 30px;
		bottom: 30px;
		z-index: 10;
	}

	.banner .side-article h3 {
		display: block;
		color: #fff;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 10px;
		width: 80%;
	}

	.banner .side-article h5 {
		display: inline-block;
		color: #fff;
		font-size: 12px;
		background: #000;
		font-weight: 500;
		padding: 6px;
		margin-bottom: 10px;
	}

	.banner .side-article h5.politics {
		/*background: #2f6797;	*/	
	}	

	.banner .side-article h5.financial {
		/*background: #4e8d2e;*/
	}

	.banner .side-article h5.health {
		/*background: #4e8d2e;*/
	}

	.banner .side-article h5.technology {
		/*background: #fff;
		color: #000;*/
	}

	.banner .side-article h5.health {
		/*background: #863254;*/
	}	

	.banner .side-article h6 {
		display: block;
		color: #fff;
	}

	.banner .side-article img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		opacity: .5;
	}

	.banner .main-article {
		float: left;
		width: 100%;
		height: 300px;
		overflow: hidden;
		position: relative;
	}

	.banner .main-article h3 {
		display: block;
		color: #fff;
		font-size: 28px;
		font-weight: bolder;
		margin-bottom: 10px;
	}

	.banner .main-article h5 {
		display: inline-block;
		width: auto;
		color: #000033;
		font-weight: bolder;
		font-size: 12px;
		background: #99ff33;		
		padding: 6px 10px;
		margin-bottom: 10px;
	}

	.banner .main-article h5 svg {
		margin-right: 5px;
	}

	.banner .main-article h6 {
		display: block;
		color: #fff;		
	}

	.banner .main-article .details {
		position: absolute;
		left: 40px;
		bottom: 40px;
		z-index: 10;
	}

	.banner .main-article img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		opacity: .6;
	}
	
}

@media (min-width: 768px) {

	.banner	{
		float: left;
		width: 100%;
		padding: 0;
		overflow: hidden;		
		position: relative;
		background: #000033;
	}

	.banner .arrow {
		position: absolute;
		z-index: 999;
		top: -30px;
		left: 50%;
		margin-left: -40px;
	}

	.banner .side-article {
		float: left;
		width: 100%;
		height: 170px;
		overflow: hidden;
		position: relative;
	}

	.banner .side-article .details {
		position: absolute;
		left: 30px;
		bottom: 30px;
		z-index: 10;
	}

	.banner .side-article h3 {
		display: block;
		color: #fff;
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 10px;
		width: 80%;
	}

	.banner .side-article h5 {
		display: inline-block;
		color: #fff;
		font-size: 12px;
		background: #000;
		font-weight: 500;
		padding: 6px;
		margin-bottom: 10px;
	}

	.banner .side-article h5.politics {
		/*background: #2f6797;	*/	
	}	

	.banner .side-article h5.financial {
		/*background: #4e8d2e;*/
	}

	.banner .side-article h5.health {
		/*background: #4e8d2e;*/
	}

	.banner .side-article h5.technology {
		/*background: #fff;
		color: #000;*/
	}

	.banner .side-article h5.health {
		/*background: #863254;*/
	}	

	.banner .side-article h6 {
		display: block;
		color: #fff;
	}

	.banner .side-article img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
	}

	.banner .main-article {
		float: left;
		width: 100%;
		height: 340px;
		overflow: hidden;
		position: relative;
	}

	.banner .main-article h3 {
		display: block;
		color: #fff;
		font-size: 42px;
		font-weight: bolder;
		margin-bottom: 10px;
	}

	.banner .main-article h5 {
		display: inline-block;
		width: auto;
		color: #000033;
		font-weight: bolder;
		font-size: 12px;
		background: #99ff33;		
		padding: 6px 10px;
		margin-bottom: 10px;
	}

	.banner .main-article h5 svg {
		margin-right: 5px;
	}

	.banner .main-article h6 {
		display: block;
		color: #fff;		
	}

	.banner .main-article .details {
		position: absolute;
		left: 40px;
		bottom: 40px;
		z-index: 10;
	}

	.banner .main-article img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		opacity: .6;
	}

	.banner.b-t2 {
		
	}

	.banner.b-t2 .side-article .details {
		bottom: 15px;
		right: 15px;
		left: auto;
	}

	.banner.b-t2 .main-article img {
		opacity: 1;
		width: 100%;
	}

	.banner.b-t2 .side-article h3 {
		display: inline-block;
		padding: 8px;
		font-size: 14px;
		line-height: 22px;
		width: 200px;
		margin-bottom: 0;
	}

	.banner.b-t2 .main-article h3 {
		font-size: 22px;
	}

	.banner.b-t3 {
		padding-top: 15px;
	}

	.banner.b-t3 .main-article {
		height: 356px;
	}

	.banner.b-t3 .main-article img {
		opacity: 1;
		height: 100%;
	}

	.banner.b-t3 .side-article {
		margin-bottom: 15px;
	}

	.banner.b-t3 .side-article .details {
		bottom: 20px;
	}

	.banner.b-t3 .side-article h3 {
		font-size: 14px;
		line-height: 22px;
	}

	.banner.b-t3 .main-article h3 {
		font-size: 22px;
	}
	
}