@media (max-width: 767px) {

	.feed {
		width: 100%;
		float: left;
		padding: 60px 0;		
	}

	.feed .col-sm-6 {
		padding-right: 20px;		
	}

	.feed .col-sm-3 {
		padding-right: 20px;
		padding-left: 20px;		
	}

	.feed .main-article {
		width: 100%;
		float: left;
		padding: 0;
	}

	.feed .main-article .cover {
		height: 220px;
		overflow: hidden;
		margin-bottom: 20px;
		background: #eee;
	}

	.feed .main-article img {
		width: 100%;
	}

	.feed .main-article h5 {
		display: inline-block;
		color: #fff;
		font-size: 12px;
		background: #000;
		font-weight: bolder;
		padding: 6px;
		margin-bottom: 20px;
	}

	.feed .main-article h5 svg {
		margin-right: 5px;
	}

	.feed .main-article h5.seattle {
		background: #99ff33;
		color: #000033;
	}

	.feed .main-article h5.entertainment {
		background: #ff0000;
	}

	.feed .main-article a {
		color: #000;
	}

	.feed .main-article h3 {
		font-size:28px;
		font-weight: bolder;
		margin: 0;
		padding: 0;
		margin-bottom: 20px;		
	}

	.feed .main-article p {
		font-size: 16px;
		font-family: 'Open Sans', sans-serif;
		line-height: 24px;
		color: #666;
	}

	.feed .side-article {
		width: 100%;
		float: left;
		padding: 0;
		margin-bottom: 30px;		
	}

	.feed .side-article .cover {
		height: 150px;
		overflow: hidden;
		margin-bottom: 10px;
	}

	.feed .side-article img {
		width: 100%;
		margin-bottom: 20px;
	}

	.feed .side-article h5 {
		display: inline-block;
		color: #fff;
		font-size: 12px;
		background: #000;
		font-weight: bolder;
		padding: 6px;
		margin-bottom: 10px;
	}

	.feed .side-article h5 svg {
		margin-right: 5px;
	}

	.feed .side-article h5.seattle {
		background: #99ff33;
		color: #000033;
	}

	.feed .side-article h5.entertainment {
		background: #ff0000;
	}

	.feed .side-article a {
		color: #000;
	}

	.feed .side-article h3 {		
		font-size: 16px;
		line-height: 22px;
		font-weight: 500;
		margin-bottom: 10px;		
	}

	.feed .side-article p.details {
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;
		font-style: italic;
		color: #999;
	}
	
}

@media (min-width: 768px) {

	.feed {
		width: 100%;
		float: left;
		padding: 60px 0;		
	}

	.feed .main-article {
		width: 100%;
		float: left;
		padding: 0;
		margin-bottom: 20px;
	}

	.feed .main-article .cover {
		height: 400px;
		overflow: hidden;
		margin-bottom: 20px;
		background: #eee;
	}

	.feed .main-article img {
		width: 100%;
	}

	.feed .main-article h5 {
		display: inline-block;
		color: #fff;
		font-size: 12px;
		background: #000;
		font-weight: bolder;
		padding: 6px;
		margin-bottom: 20px;
	}

	.feed .main-article h5 svg {
		margin-right: 5px;
	}

	.feed .main-article a {
		color: #000;
	}

	.feed .main-article h3 {
		font-size: 26px;
		font-weight: bolder;
		margin: 0;
		padding: 0;
		margin-bottom: 20px;
		text-align: center;	
	}

	.feed .main-article p {
		font-size: 16px;
		font-family: 'Open Sans', sans-serif;
		line-height: 24px;
		color: #666;
	}

	.feed .main-article.main-article-smaller .cover {
		height: 200px;
	}

	.feed .main-article.main-article-smaller h3 {
		font-size: 18px;
		text-align: left;
	}

	.feed .side-article {
		width: 100%;
		float: left;
		padding: 0;
		margin-bottom: 30px;		
	}

	.feed .side-article .cover {
		height: 150px;
		overflow: hidden;
		margin-bottom: 10px;
	}

	.feed .side-article img {
		width: 100%;
		margin-bottom: 20px;
	}

	.feed .side-article h5 {
		display: inline-block;
		color: #fff;
		font-size: 12px;
		background: #000;
		font-weight: bolder;
		padding: 6px;
		margin-bottom: 10px;
	}

	.feed .side-article h5 svg {
		margin-right: 5px;
	}

	.feed .side-article h5.seattle {
		background: #99ff33;
		color: #000033;
	}

	.feed .side-article h5.entertainment {
		background: #ff0000;
	}

	.feed .side-article a {
		color: #000;
	}

	.feed .side-article h3 {		
		font-size: 16px;
		line-height: 22px;
		font-weight: bolder;
		margin-bottom: 10px;
	}

	.feed .side-article p.details {
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;		
		color: #999;
	}

	.feed .side-article p.details strong {
		color: #333;
		font-weight: bolder;
	}

	.feed .main-article p.details {
		font-size: 12px;
		font-family: 'Open Sans', sans-serif;		
		color: #999;
		text-align: center;
	}

	.feed.f-t3 .side-article h3 {
		font-weight: normal;
	}

	.feed.f-t3 .side-article p.details, .feed.f-t3 .side-article p.details strong {
		color: #ccc;
	}

	.feed.f-t3 .main-article .cover {
		height: 350px;
	}

	.feed.f-t3 .main-article.main-article-smaller .cover {
		height: 150px;
	}

	.feed.f-t4 .main-article.main-article-smaller .cover {
		height: 100px;
	}

	.feed.f-t4 .main-article.main-article-smaller h3 {
		font-size: 14px;
		font-weight: normal;
		line-height: 22px;
	}
	
}