@import url(header.css);
@import url(banner.css);
/*@import url(front-article.css);*/
@import url(feed.css);
@import url(footer.css);
@import url(article.css);
@import url(ad.css);
@import url(contact.css);

body {
	background-color: #f9f9f9;
	font-family: 'Montserrat', sans-serif;
}

input, textarea, select {
	outline: none;
	width: 100%;
	margin-bottom: 10px;
	border: solid 1px #eee;
	padding: 6px;
	border-radius: 4px;
	font-size: 13px;
}

label {
	color: #333;
	font-weight: normal;
	margin-bottom: 5px;
	font-size: 13px;
}

h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}

p {
	margin: 0;
	padding: 0;
}

.lazy {
	display: none;
}

/* FIXES */

.clear-pad-left {
	padding-left: 0;
}

.clear-pad-right {
	padding-right: 0;
}

.clear-pad-both {
	padding-left: 0;
	padding-right: 0;
}

.centralize {
	text-align: center;
}

.reveal, .reveal2, .reveal3, .reveal4, .reveal5 {
	visibility: hidden;
}

.clear-pad-both-mobile {
	padding-left: 0;
	padding-right: 0;
}

@media (min-width: 768px) {

	/*.clear-pad-both-mobile {
		padding-left: 15px;
		padding-right: 15px;
	}
*/
	.half-pad {
		padding-left: 12px;
		padding-right: 12px;
	}
	
}