@media (max-width: 767px) {

	.display-bar {
		width: 100%;
		float: left;		
		background: #fff;
		box-shadow: 0 0 30px rgba(0,0,0,.08);
		position: relative;		
		z-index: 999;
	}

	.display-bar p {
		margin: 8px 0 0 0;
		color: #333;
	}

	.display-bar p a {
		color: #336699;
		font-weight: bold;
	}

	.display-bar p a svg {
		margin-left: 5px;
	}

	.display-bar ul {
		float: right;
		padding: 0;
		margin: 0;
	}

	.display-bar ul li {
		list-style: none;
		float: left;
		margin-right: 10px;
	}

	.display-bar ul li a {
		display: block;
		padding: 5px;
		font-size: 20px;
		color: #336699;
	}

	.header {
		width: 100%;
		float: left;
		padding: 20px 0;
		background: #fff;
		position: relative;
		z-index: 999;
	}

	.header .logo {
		float: left;
	}

	.header .menu-bt {
		float: right;
		text-align: center;
		font-size: 20px;
		color: #fff;
		margin: 8px 0 0 0;
	}

	.header .nav {
		width: 100%;
		float: left;
		margin-top: 0;
		display: none;
		margin-top: 20px;
	}

	.header .nav li {
		list-style: none;
		float: left;
		width: 100%;
		text-align: center;
		margin-right: 10px;
	}

	.header.compact-header .nav li a {
		
	}

	.header .nav li a {
		display: block;
		font-size: 15px;
		color: #fff;
		padding: 8px;
	}

	.header .nav li a:link, .header .nav li a:visited {
		background: transparent;
	}

	.header .nav li a:hover {
		background: transparent;
		color: #fff;
		border-bottom: solid 2px #336699;
		padding-bottom: 6px;		
	}

	.header .nav li a.active {
		border-bottom: solid 2px #336699;
		padding-bottom: 6px;
	}
	
}

@media (min-width: 768px) {

	.display-bar {
		width: 100%;
		float: left;		
		background: #fff;
		box-shadow: 0 0 30px rgba(0,0,0,.08);
		position: relative;		
		z-index: 999;
		display: none;
	}

	.display-bar p {
		margin: 8px 0 0 0;
		color: #333;
	}

	.display-bar p a {
		color: #336699;
		font-weight: bold;
	}

	.display-bar p a svg {
		margin-left: 5px;
	}

	.display-bar ul {
		float: right;
		padding: 0;
		margin: 0;
	}

	.display-bar ul li {
		list-style: none;
		float: left;
		margin-right: 10px;
	}

	.display-bar ul li a {
		display: block;
		padding: 5px;
		font-size: 20px;
		color: #336699;
	}

	.header {
		width: 100%;
		float: left;
		padding: 10px 0;
		background: #fff;
		position: relative;
		z-index: 999;
		color: #000;
	}

	.header .menu-bt {
		display: none;
	}

	.header.compact-header {
		position: fixed;
	}

	.header.compact-header .logo {
	}

	.header.compact-header .logo img {
		
	}

	.header .logo {
		display: block;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 14px;
		letter-spacing: 1px;
		margin: 8px 0 0 0;
		color: #000;
	}

	.header .logo:hover {
		text-decoration: none;
	}

	.header .social-nav {		
		float: right;
		margin: 0;
		padding: 0;
		margin-top: 8px;
		margin-left: 40px;
	}

	.header .social-nav li {
		list-style: none;
		float: left;
		margin-right: 20px;
	}

	.header .social-nav li:last-child {
		margin-right: 0;
	}

	.header .social-nav li a {
		display: block;		
		font-size: 16px;
		color: #000;
	}

	.header .nav {		
		float: right;
		margin-top: 0;
	}

	.header .nav li {
		list-style: none;
		float: left;
		margin-right: 5px;
	}

	.header .nav li.separator span {
		display: block;
		width: 1px;
		height: 15px;
		background: #EEE;
		margin: 10px 0 0 0;
	}

	.header .nav li a {
		display: block;
		font-size: 13px;		
		padding: 8px;
		color: #000;
	}

	.header .nav li a:link, .header .nav li a:visited {
		background: transparent;
	}

	.header .nav li a:hover {
		opacity: .5;
	}

	.header .nav li a.active {
		border-bottom: solid 2px #336699;
		padding-bottom: 6px;
	}

	.header.h-t2 .nav {
		float: left;
	}

	.header.h-t3 .nav {
		float: left;
		margin-left: -8px;
		margin-top: 10px;
	}

	.header.h-t4 .logo {
		display: block;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}

	.header.h-t4 .nav {
		float: left;
		width: 100%;
		margin-top: 10px;
		text-align: center;
	}

	.header.h-t4 .nav li {
		display: inline-block;
		float: none;
	}

	.header.h-t4 .nav li.separator {
		display: none;
	}
	
}